body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0,0%,95%);



}
#Calculator{
    font-family:Arial, Helvetica, sans-serif;
    background-color: hsl(0,0%,15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 10);
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}
#keys{

    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;


}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator-btn{
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}

#typewriter{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin:  10px;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40 end), blink-caret .75s step-end infinite;
    text-align: center;
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
}

@keyframes typing {
    from { width: 0; }
    to {width: 100%; } 
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}

#